<p>
  <a href="{{site.swc_site}}">Software Carpentry</a>
  aims to help researchers get their work done
  in less time and with less pain
  by teaching them basic research computing skills.
  This hands-on workshop will cover basic concepts and tools,
  including program design, data management,
  and task automation.
  The materials used in this course come from the following Carpentries materials: <a href="">R for Reproducible Scientific Analysis</a>, 
  <a href="https://datacarpentry.github.io/r-socialsci/01-intro-to-r.html">R for Social Scientists</a>, 
  <a href="https://swcarpentry.github.io/r-novice-inflammation/01-starting-with-data.html">Programming with R</a>
  
  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="https://doi.org/10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
