<div class="row">
  <div class="col-md-6">
    <h5>Day 1, Wednesday 30th of September - HG-11A36 (Hoofd Gebouw/Main building, 11th floor)</h5>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:30</td>  <td>Pre-course help with installations and setup</td> </tr>
      <tr> <td>10:00</td>  <td>Introduction to R and RStudio</td> </tr>
      <tr> <td>11:20</td>  <td>Morning break</td> </tr>
      <tr> <td>11:30</td>  <td>Working with data in R and basic plots</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      {% if site.flavor == "r" %}
      <tr> <td>13:15</td>  <td>Data types in R</td> </tr>
      <tr> <td>14:00</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:10</td>  <td>Making choices</td> </tr>
      {% elsif site.flavor == "python" %}
      <tr> <td>13:00</td>  <td>Building Programs with Python</td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:00</td>  <td>Building Programs with Python (Continued)</td> </tr>
      {% else %}
      {% include warning-flavor.html %}
      {% endif %}
      <tr> <td>14:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>15:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h5>Day 2, Wednesday 7th of October - HG-06A37 (Hoofd gebouw/Main building, 6th floor)</h5>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td>Making choices (Contd)</td> </tr>
      <tr> <td>10:30</td>  <td>Creating functions</td> </tr>
      <tr> <td>11:20</td>  <td>Morning break</td> </tr>
      <tr> <td>11:30</td>  <td>Creating Functions</td> </tr>
      <tr> <td>12:00</td>  <td>Testing</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:15</td>  <td>Creating Functions (contd)</td> </tr>
      <tr> <td>13:45</td>  <td>Errors</td> </tr>
      <tr> <td>14:00</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:10</td>  <td>Default values</td> </tr>
      <tr> <td>15:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
   <h3>Day 3 - Wednesday, 14th of October - HG-02A16 (Hoofdgebouw/Main building, 2nd floor)</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td>Reading & writing csvs</td> </tr>
      <tr> <td>11:20</td>  <td>Morning break</td> </tr>
      <tr> <td>11:30</td>  <td>Debugging</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:15</td>  <td>Loops</td> </tr>
      <tr> <td>14:00</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:10</td>  <td>Practice project</td> </tr>
      <tr> <td>15:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4, Wednesday, 21st of October - HG-01A43 (Hoofdgebouw/Main building, 1st floor)</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td>Practice project (contd)</td> </tr>
      <tr> <td>11:20</td>  <td>Morning break</td> </tr>
      <tr> <td>11:30</td>  <td>Work on your own project</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:15</td>  <td>Own project (contd)</td> </tr>
      <tr> <td>14:00</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:10</td>  <td>Own project (contd)</td> </tr>
      <tr> <td>14:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>15:00</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>15:10</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
